*{
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #F7F7F7;
}
.conclusion{
    width: 100%;
    background-color: #0865DE;
    height: 474px;
}
.conctext{
    padding-left: 180px;
    padding-top: 90px;
}
.conctext h2{
    font-size: 25px;
    color: white;
    letter-spacing: 5px;
    text-align: left;
}
.conctext p{
    color: #002D69;
    text-align: left;
    font-size: 25px;
    margin-top: 60px;
    line-height: 45px;
}
.container{
    margin-top: 90px;
}
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h4{
    letter-spacing: 1.4px;
}
.item{
    background-color: white;
    margin-top: 60px;
    width: 409px;
    height:661px;
    border: 1px solid white;
    border-radius: 10px;
}
.image-wrapper img{
    width :100%;
    object-fit:cover ;
}
.info-wrapper {
    padding: 60px;
    padding-top: 100px;
}
.info-wrapper *{
    padding: 10px;
}
.info-wrapper span {
    padding-left: 0;
    color: grey;
    text-transform: uppercase;
}
.info-wrapper a{
    padding: 0px;
    margin-top: 30px;
    text-decoration: none;
    color: black;
}
